<%- include('./partials/header') %>

<div class="container ">
    <% result.forEach((c)=>{ %> 
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-6 col-lg-8">
                    <div class="card-body pb-1 pb-sm-0">
                        <h5 class="card-title" style="text-transform: capitalize;">
                            <b><%= c.name %></b>
                        </h5>
                        <p class="card-text">
                            <b>Id: </b>
                            <%= c.id %>
                        </p>
                        <p class="card-text">
                            <%= c.mobile %>
                        </p>
                        <p class="card-text">
                            <%= c.gender %>
                        </p>
                        <p class="card-text">
                            <%= c.relation %>
                        </p>
                        <p class="card-text">
                            <%= c.email %>
                        </p>
                        <a class="btn btn-info btn-sm" href="/update/<%= c.id %>">Update</a>
                        <a class="btn btn-info btn-sm" href="/delete/<%= c.id %>">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    
    <% }) %>
</div>

    <%- include('./partials/footer') %>